html
{
	height: 100%;
	background-image: url("https://images.wallpapersden.com/image/download/abstract-neon-silk_64848_2560x1440.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


/* Navigation bar styling */
.topnav
{
	background-color: Transparent;
	overflow: hidden;
}

.topnav a
{
	/* TODO: Change from pixels to percentages */
	float: right;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 17 px;
	text-decoration: none;
}

.topnav a.active
{
	background-color: #692d88;
}

.topnav a:hover
{
	background-color: #00aaaa;
}

#title
{
    font-size: 60px;
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
	margin-top: 5%;
	padding: 0;
}

#loginDiv
{
	background: Transparent;
	align-items: center;
    font-size: 30px;
    width: 70%;
	margin-top: 5%;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
    padding: 25px;
	border-radius: 7px;
}


#signupDiv
{
	background: Transparent;
	align-items: center;
	font-size: 30px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	border-radius: 7px;
}

#loggedInDiv
{
    font-size: 30px;
    width: 77.6%;
    margin-left: 10%;
    padding: 25px;
	border-radius: 25px;
    background-color: rgba(213,213,213,0.87);
}

#addContactsDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background: transparent;
}

/* Trying to use navigation bar instead */
/* #styleButton
{
	margin-left: 80%;
	width: 14%;
	max-width: 150;
	margin-right: 2%;
	margin-top: .5%;
	margin-bottom: -2%;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	color: #692d88;
	background-color: Transparent;
	border-color: #692d88;
	border-width: 5%
} */

.buttons
{
	background-color: white;
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Ubuntu', sans-serif;
}

.buttons:hover
{
    background-color: #00aaaa;
    color: #FFFFFF;
3opacity: 50%;
}

#switchToSignup
{
	margin-top: 1%;
}

::placeholder
{
	color: black;
}

#switchToLogin
{
	margin-top: 1%;
}

#loginName
{
	font-size: 30px;
	color: black;
}
#loginPassword
{
	font-size: 30px;
	margin-bottom: 40px;
	color: black;
}
#signupName
{
	font-size: 30px;
}
#signupFirstName
{
	font-size: 30px;
}
#signupLastName
{
	font-size: 30px;
}
#signupUserName
{
	font-size: 30px;
}
#signupPassword
{
	font-size: 30px;
}
#signupPasswordConfirm
{
	margin-bottom: 40px;
	font-size: 30px;
}
#searchText
{
	float: left;
	width: 67%;
	margin-left: 10%;
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}
#ContactsFirstNameText
{
	font-size: 30px;
}
#ContactsLastNameText
{
	font-size: 30px;
}
#ContactsEmailText
{
	font-size: 30px;
}
#ContactsPhoneText
{
	font-size: 30px;
}
#ContactsPhoneNumberText
{
	font-size: 30px;
}
#ContactsAddressText
{
	font-size: 30px;
}
#ContactsCityText
{
	font-size: 30px;
}
#ContactsStateText
{
	font-size: 30px;
}
#ContactsZIPCodeText
{
	font-size: 30px;
}
#ContactsPronounsText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    border-radius: 15px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
	background-color: rgba(255,255,255,0.64);
    font-family: 'Ubuntu', sans-serif;
}

span.inner-title{
    display: inline-block;
    font-size: 1em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #F5F5F5;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#signupResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: #000000
}

#logoutButton{
    width: 20%;
    margin-left: 10%;
	margin-top: 1%;
	float: left;
}
#goToAddContactsButton{
	width: 20%;
    margin-right: 10%;
	margin-top: 1%;
	float: right;
}
#cancelAddContactButton{
    width: 20%;
    margin-left: 10%;
	margin-top: 1%;
	float: left;
}
#addContactsButton{
	width: 20%;
    margin-right: 10%;
	margin-top: 1%;
	float: right;
}


select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#searchContactsButton{
	float: right;
	width: 12%;
	margin-left: 0%;
	margin-right: 10%;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}
